.home-page {
    width: auto;
    color: #fff;
    height: 100vh;
    padding: 20px;
    margin-left: 90px;
}

.home-title-container {
    display: inline-grid;
}

.home-title {
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.home-subtitle {
    text-transform: capitalize;
    float: left;
    margin-top: 5px;
    color: #b0b5c1;
    font-size: 14px;
    font-weight: 600;
}


.home-search-container {
    float: right;
    margin-top: 5px;
}

input[type=text] {
    padding: 15px 40px 15px 20px;
    width: 250px;
    border: 1px solid #525252;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #2e303f;

}

input[type=text]::placeholder {
    color: #b0b5c1;
    opacity: 1;
}


i {
    position: relative;
    left: -37px;
    color: #8233C5;
}