input[type=text] {
    padding: 15px 15px 15px 40px;
    width: 250px;
    color: #b0b5c1;
    border: 1px solid #525252;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #2e303f;

}

input[type=text]::placeholder {
    color: #b0b5c1;
    opacity: 1;
}

.search-field {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}